Repository SunenaB3504/CTET-Study: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write", "jest --findRelatedTests --passWithNoTests"],
  "*.{js,jsx,json,md}": ["prettier --write"]
}

Jul-24 question uploaded.
  PROJECT_PLAN.md
  convert_to_typescript.py
  parse_jul24_questions.py
  parsed_jul24.json
Due: prettier --write

Out of 5 sample paper 4 uploaded successfully.
  PROJECT_PLAN.md
  SQP/Aug-23-done.txt
  SQP/Dec-22.txt
  SQP/Dec-24.txt
  SQP/Jan-24-done.txt
  SQP/Jul-24-done.txt
  components/SampleQuestions.tsx
  constants/questionPapers/aug-23-i.ts
  constants/questionPapers/dec-24-i.ts
  constants/questionPapers/index.ts
  constants/questionPapers/jan-24-i.ts
  constants/questionPapers/sed-24-i.ts
  docs/prompt/aug-23-question-processing-prompt.md
  docs/prompt/dec-24-question-processing-prompt.md
  docs/prompt/jan-24-question-processing-prompt.md
  parse_aug23_questions.py
  parsed_aug23.json
  process_dec24_complete.py
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Dec 22 data uploaded
  PROJECT_PLAN.md
  SQP/Dec-24-done.txt
  SQP/Dec-24-key.txt
  SQP/Microsoft Copilot_ Your AI companion.html
  SQP/Microsoft Copilot_ Your AI companion_files/0
  SQP/Microsoft Copilot_ Your AI companion_files/0(1)
  SQP/Microsoft Copilot_ Your AI companion_files/0(2)
  SQP/Microsoft Copilot_ Your AI companion_files/355045625.js.download
  SQP/Microsoft Copilot_ Your AI companion_files/bat.js.download
  SQP/Microsoft Copilot_ Your AI companion_files/clarity.js.download
  SQP/Microsoft Copilot_ Your AI companion_files/index-DtyDtNZu.js.download
  SQP/Microsoft Copilot_ Your AI companion_files/index-eGfL69T7.css
  SQP/Microsoft Copilot_ Your AI companion_files/ms.analytics-web-4.min.js.download
  SQP/Microsoft Copilot_ Your AI companion_files/n59ae4ieqq
  SQP/Microsoft Copilot_ Your AI companion_files/src=8406097
  SQP/Microsoft Copilot_ Your AI companion_files/src=8406097(1)
  SQP/Microsoft Copilot_ Your AI companion_files/unnamed.png
  constants/questionPapers/dec-22-i.ts
  constants/questionPapers/dec-24-i.ts
  constants/questionPapers/index.ts
  docs/prompt/dec-22-question-processing-prompt.md
  docs/prompt/dec-24-question-processing-prompt.md
  index.css
  index.html
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
  utils/sanitization.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

All 5 old question papers uploaded
  PROJECT_PLAN.md
  constants/questionPapers/dec-22-i.ts
  constants/questionPapers/dec-24-i.ts
  constants/questionPapers/jul-24-i.ts
  docs/prompt/dec-24-done-question-processing-prompt.md
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Enhancement in progress.
  constants/questionPapers/aug-23-i.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

App enhancement in progress
  App.tsx
  CTET_App_Enhancement_Project_Plan.md
  CTET_Coverage_Gap_Analysis_Report.md
  CTET_Preparation_Guide_for_Experienced_Teachers.md
  Learning_Content_Gap_Analysis_Report.md
  components/ExperienceLevelSelection.tsx
  components/GapAnalysisDashboard.tsx
  components/QualityAssessmentDashboard.tsx
  components/Sidebar.tsx
  constants/syllabusMapping.ts
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/PHASE1_FOUNDATION_ENHANCEMENT_IMPLEMENTATION_PLAN.md
  docs/USER_GUIDE.md
  docs/prompt/PHASE1_IMPLEMENTATION_PROMPT.md
  types.ts
  utils/experienceLevel.ts
  utils/qualityAssessment.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Basic tracking feature updated. Working model.
  App.tsx
  components/LearningInsightsDashboard.tsx
  components/ProgressDashboard.tsx
  components/RecommendationDashboard.tsx
  components/SessionAnalytics.tsx
  components/Sidebar.tsx
  docs/PHASE1_FOUNDATION_ENHANCEMENT_IMPLEMENTATION_PLAN.md
  docs/prompt/PHASE1_PENDING_ITEMS_IMPLEMENTATION_PROMPT.md
  types.ts
  utils/learningInsightsService.ts
  utils/progressTracking.ts
  utils/recommendationService.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

App is redy for UAT- all done
  App.tsx
  components/EnhancedMockTest.tsx
  components/EnhancedMockTestFlow.tsx
  components/EnhancedTestResult.tsx
  components/MockTestConfig.tsx
  components/PerformanceAnalytics.tsx
  components/PracticeQuiz.tsx
  components/SampleQuestions.tsx
  components/Sidebar.tsx
  components/TestResult.tsx
  constants/data.ts
  constants/testResults.ts
  docs/PHASE1_FOUNDATION_ENHANCEMENT_IMPLEMENTATION_PLAN.md
  docs/PHASE2_ENHANCED_CDP_MOCKTEST_IMPLEMENTATION_PLAN.md
  docs/prompt/PHASE1_FINAL_IMPLEMENTATION_PROMPT.md
  types.ts
  utils/qualityAssessment.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Moved to GPT-4o LLM, so far working fine.
  components/MockTestConfig.tsx
  data.ts
  jest.config.js
  tests/enhancedMockTestFlow.test.tsx
  tests/mockTestConfig.test.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Almost ready
  components/PracticeQuiz.tsx
  docs/CHANGELOG.md
  misc/__pycache__/final_verification.cpython-313.pyc
  tsconfig.json
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Child Development & Pedagogy ready
  components/MockTestConfig.tsx
  components/PracticeQuiz.tsx
  constants/syllabusMapping.ts
  data.ts
  jest.config.js
  src/test/setup.ts
  tests/enhancedMockTestFlow.test.tsx
  tests/mockTestConfig.test.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Mathematics is ready.
  components/PracticeQuiz.tsx
  constants/data.ts
  data.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Hindi content also ready
  constants/data.ts
  docs/.vscode/settings.json
  docs/pdf_to_md.py
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Publishing the app
  docs/NCF-2023_carriculam str.txt
  docs/prompt/CTET_Teacher_Guidance_Automation.txt
  src/components/NCFSE2023Sidebar.test.tsx
  src/components/NCFSE2023Sidebar.tsx
  src/components/index.ts
  src/stories/Page.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Updates
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  .storybook/main.ts
  .storybook/preview.ts
  assets/index-DhqoSkpD.js
  assets/index-GkraEDrA.css
  docs/.vscode/settings.json
  index.html
  test-results/.last-run.json
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Updates
  index.html
Due: none

"Update files for deployment"
  components/EnhancedMockTest.tsx
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

favicon added.
  index.html
Due: none

Hamburger menu added.
  src/components/HamburgerMenu.tsx
  src/stories/Page.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Updates
  assets/index-8BFvg7Qv.js
  assets/index-GkraEDrA.css
  assets/index-v04DFfSP.css
  index.html
Due: prettier --write

Home button added.
  App.tsx
  components/ExperienceLevelSelection.tsx
  components/Header.tsx
  components/LearningInsightsDashboard.tsx
  components/Sidebar.tsx
  src/stories/Header.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Bug fixed.
  components/Header.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Updates
  assets/index-2LrC0KcD.js
  assets/index-8BFvg7Qv.js
  assets/index-BAodNb16.css
  assets/index-v04DFfSP.css
  index.html
Due: prettier --write

publish done
  package.json
Due: prettier --write

feat: implement critical code quality fixes
  App.tsx
  CODE_QUALITY_FIXES_SUMMARY.md
  CODE_QUALITY_REVIEW_REPORT.md
  components/ErrorBoundary.tsx
  components/LearningInsightsDashboard.tsx
  components/RecommendationDashboard.tsx
  components/StudyModule.tsx
  components/TTSControls.tsx
  src/utils/performance.ts
  utils/experienceLevel.ts
  utils/logger.ts
  utils/progressTracking.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

fix: add .js extensions to imports for ES module compatibility
  components/LearningInsightsDashboard.tsx
  components/RecommendationDashboard.tsx
  components/StudyModule.tsx
  components/TTSControls.tsx
  src/utils/performance.ts
  utils/experienceLevel.ts
  utils/progressTracking.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

fix: replace process.env with browser-compatible environment detection
  utils/logger.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

style: darken 'Listen to this section' heading text color
  components/TTSControls.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

style: change 'Listen to Notes' button to dark text on white background
  components/TTSControls.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

docs: add comprehensive Paper 2 question update guide
  docs/PAPER_2_UPDATE_GUIDE.md
Due: prettier --write

feat: Add Paper I/II separation with quick-access header button
  App.tsx
  SQP/Paper2/Anz-Aug-23.pdf
  SQP/Paper2/Anz-Dec-21.pdf
  SQP/Paper2/Anz-Dec-24.pdf
  SQP/Paper2/Anz-Jan-24.pdf
  SQP/Paper2/Anz-Jul-24.pdf
  SQP/Paper2/Qus-Aug-23.pdf
  SQP/Paper2/Qus-Dec-21.pdf
  SQP/Paper2/Qus-Dec-24.pdf
  SQP/Paper2/Qus-Jan-24.pdf
  SQP/Paper2/Qus-Jul-24.pdf
  components/Header.tsx
  components/MockTestSelection.tsx
  components/PaperTypeSelection.tsx
  components/Sidebar.tsx
  constants/questionPapers/aug-23-i.ts
  constants/questionPapers/dec-22-i.ts
  constants/questionPapers/dec-24-i.ts
  constants/questionPapers/jan-24-i.ts
  constants/questionPapers/jul-24-i.ts
  constants/questionPapers/mvd18-i.ts
  docs/HOW_TO_CHANGE_PAPER_TYPE.md
  docs/PAPER_TYPE_SEPARATION_GUIDE.md
  types.ts
  utils/experienceLevel.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

docs: Add deployment guide and GitHub Actions workflow for paper-separation branch
  .github/workflows/deploy-paper-separation.yml
  docs/DEPLOYMENT_GUIDE_PAPER_SEPARATION.md
Due: prettier --write

chore: update vite config base path for Pass-CTET-Exam-easily repo
  vite.config.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

fix: ensure correct asset paths for GitHub Pages deployment
  NEW_REPO_SETUP_COMPLETE.md
  QUICK_DEPLOY.md
Due: prettier --write
